@font-face {
  font-family: "Omnes Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Omnes Regular.woff") format("woff");
}

@font-face {
  font-family: "Omnes Italic";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Omnes Italic.woff") format("woff");
}

@font-face {
  font-family: "Omnes Hairline";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Omnes Hairline.woff") format("woff");
}

@font-face {
  font-family: "Omnes Hairline Italic";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Omnes Hairline Italic.woff") format("woff");
}

@font-face {
  font-family: "Omnes Thin";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Omnes Thin.woff") format("woff");
}

@font-face {
  font-family: "Omnes Thin Italic";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Omnes Thin Italic.woff") format("woff");
}

@font-face {
  font-family: "Omnes ExtraLight";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Omnes ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Omnes ExtraLight Italic";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Omnes ExtraLight Italic.woff") format("woff");
}

@font-face {
  font-family: "Omnes Light";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Omnes Light.woff") format("woff");
}

@font-face {
  font-family: "Omnes Light Italic";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Omnes Light Italic.woff") format("woff");
}

@font-face {
  font-family: "Omnes Medium";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Omnes Medium.woff") format("woff");
}

@font-face {
  font-family: "Omnes Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Omnes Medium Italic.woff") format("woff");
}

@font-face {
  font-family: "Omnes SemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Omnes SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Omnes SemiBold Italic";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Omnes SemiBold Italic.woff") format("woff");
}

@font-face {
  font-family: "Omnes Bold";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Omnes Bold.woff") format("woff");
}

@font-face {
  font-family: "Omnes Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Omnes Bold Italic.woff") format("woff");
}

@font-face {
  font-family: "Omnes Black";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Omnes Black.woff") format("woff");
}

@font-face {
  font-family: "Omnes Black Italic";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Omnes Black Italic.woff") format("woff");
}

.my-simple-swiper {
  aspect-ratio: 4 / 3;
}

.my-simple-swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%; /* Make the image fill the container's new responsive height */
  object-fit: cover; /* This continues to prevent image distortion */
}

.my-simple-swiper .swiper-button-prev::after,
.my-simple-swiper .swiper-button-next::after {
  font-weight: 900; /* Makes the arrow lines thicker */
  font-size: 3.0rem; /* Increases the overall size of the arrow icon */
}
